@import "@fontsource/roboto";
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none !important;
}

[hidden] {
  display: none !important;
}
html {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  @apply min-h-screen antialiased text-slate-700 dark:text-slate-200 bg-slate-50 dark:bg-slate-900;
}